<ul>
    <li class="redirect_url">
        code -
        <a href={{ path('reduction_url_redirect', {'code': url.code}) }} target="_blank">{{ url.code }}</a>
    </li>
    <li>count - <div>{{ url.count }}</div></li>
</ul>